:root {
    --default-margin: 30px;
    --min-margin: 10px;
    --blue-btn: #0078D4;
    --blue-hover: #006DC1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", "Poppins", sans-serif;
    font-size: 10px;
    line-height: 1.8;
    font-weight: normal;
    color: #000;
    margin: 0;
}

.github_link {
    grid-area: github-link;
    width: 50px;
    height: auto;
}

header {
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "logo github-link"
    "header-nav header-nav";
    gap: 20px 0;
    margin: 40px 0;
}

header nav {
    grid-area: header-nav;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 40px;
}

header nav a {
    color: rgba(0, 0, 0, .53);
    text-decoration: none;
    /* 1.4em = 1.4 * font-size value defined in body */
    font-size: 1.4em;
}

header nav a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

#logo {
    grid-area: logo;
    width: 60px;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.social_links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
    margin-top: 50px;
}

.social_links img {
    width: 75%;
    height: auto;
}

.projects_list img, .articles_list img {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.projects_list img:hover, .articles_list img:hover {
    transform: scale(1.1);
}

.projects_list a, .articles_list a {
    color: #000;
    text-decoration: none;
}

section p {
    /* Style for articles and projects blocks */
    font-size: 1.1em;
    text-align: center;
    margin: var(--min-margin);
}

.date {
    text-align: left;
    margin-bottom: var(--min-margin);
    margin-left: 40px;
}

#to_the_top_button {
    float: right;
    margin: var(--default-margin);
    width: 50px;
    height: auto;
}

/* Specific CSS style for articles */
h2 {
    font-size: 2em;
    margin: 40px var(--min-margin) 20px var(--min-margin);
}

h3 {
    font-size: 1.2em;
    margin: 5px var(--min-margin);
    font-weight: 100;
    text-decoration: underline;
}

.illustration {
    width: 80%;
    height: auto;
    /* To center the image, make sure you have the 2 following lines */
    display: block;
    margin: 0 auto;
}

section {
    width: 100%;
    margin: auto;
}

button {
    color: #fff;
    font-size: 1.5em;
    background-color: var(--blue-btn);
    width: 322px;
    height: 50px;
    border: none;
    /* To center the button, make sure you have the 2 following lines */
    display: block;
    margin: 60px auto 60px;
}

button:hover {
    background-color: var(--blue-hover);
}

article p {
    margin: var(--min-margin) var(--min-margin);
    text-align: left;
}

video {
    /* Center each video horizontally */
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
}

article img {
    display: block;
    margin: var(--default-margin) auto 0;
    width: 80%;
    height: auto;
}

.legend {
    text-align: center;
    font-style: italic;
}

@media screen and (min-width: 510px) {
    body {
        font-size: 13px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        width: 100%;
        height: 75px;
    }

    header nav {
        column-gap: 60px;
    }
}

@media screen and (min-width: 730px) {
    body {
        font-size: 14px;
        margin: 0 var(--min-margin);
    }
    
    header nav {
        column-gap: 60px;
    }
    
    #logo {
        width: 70px;
        height: auto;
    }
    
    .projects_list img, .articles_list img {
        width: 450px;
    }
}

@media screen and (min-width: 880px) {
    body {
        font-size: 16px;
        margin: 0 var(--default-margin) 0 var(--default-margin);
    }

    #logo {
        opacity: .5;
    }

    #logo:hover {
        opacity: 1;
    }

    .projects_list, .articles_list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        column-gap: 40px;
        margin-top: 50px;
        margin-bottom: 130px;
    }

    .projects_list img, .articles_list img {
        width: 250px;
    }

    .date {
        margin-left: 0;
    }

    .github_link {
        opacity: .33;
    }

    .github_link:hover {
        opacity: 1;
    }

    .social_links img {
        width: 100%;
        height: auto;
    }

    .social_links img:hover {
        transform: scale(1.1);
    }

    #to_the_top_button {
        width: 70px;
        height: auto;
    }
}

@media screen and (min-width: 1400px) {
    .projects_list, .articles_list {
        column-gap: 80px;
    }
}